<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in Waikikamukau, New Zealand. He left New Zeaat the University of Mopery, and served in the Royal Loamshiservice, he invented the kanuten valve used in the processinindustrial use. He founded Acme Manufacturing, later acquireCorporation, to commercialize the product. Mr. Kadigan is noMiddlehampton where he raises Griadium frieda.</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,incididunt ut labore et dolore magna aliqua.</p>

